<div id="content_top_left">
	<h2><co2><%= @total_co2.round(2) %></co2> kg CO<sub>2 (eq)</sub></h1>
		<p>Emissions from last month: <%= @amonthago %> until <%= @today %></p>
		<p><%= link_to "Analyze other site", :action => "select" %></p>
	<p>The site emissions are equivalent to: <p/><h2><co2><%= @caramount %></co2> km driving a car</h2>
	<h2>Or <co2><%= @beeramount %></co2> bottles of beer</h2>
	<p>Conversions thanks to <a href="http://carbon.to">carbon.to</a></p>
</div>
<div id="content_top_right">
	<p><b>Beta version</b></p>
	<p>This application is still under development, the calculation shown is not accurate. The purpose of this number is to 
		show that websites do have an impact in climate change, even if it's hidden to us. The calculation of this impact
		is very challenging due to the distributed nature of internet. This application is a first effort towards
		making calculating websites carbon footprint more accurate and available to the public.</p>
	<p><b>Impact Distribution</b></p>
	<%= image_tag @grafico, :alt => 'foo' %><br>
</div>