<div id="content_top">
<h1 class="name"><%= @address%></h1>
<h2><co2><%= @total_co2.round(2) %></co2> kg CO<sub>2 (eq)</sub></h1>
<p>The site emissions are equivalent to: <p/><h2><co2><%= @caramount %></co2> km driving a car</h2>
<h2>Or <co2><%= @beeramount %></co2> bottles of beer</h2>
<p>Conversions thanks to <a href="http://carbon.to">carbon.to</a></p>
<%= image_tag @grafico, :alt => 'foo' %><br>
</div>
<div id="content_left">
<h1><b>Server and infrastructure</b></h1>
<p><i>Carbon impact from the electricity of the server and internet infrastructure.</i></p>

<h2>Pages</h2>
<%= @page_text %>

<h2>Total </h2>
<h3><%= @total_size %> Kb.</h3>
<h3><%= @co2_server.round(2) %> kg CO2</h3>
</div>

<div id="content_right">
<h1><b>Visitors</b></h1>
<p><i>The impact from the electricity used by the visitors.</i></p>
<h2>Visitors: </h2>
<p><%= @visitors_text %></p>
<h2>Total: </h2>
<h3><%= @time %> minutes</h3>
<h3><%= @co2_visitors.round(2) %> kg CO2</h3>
</div>
	