<div id="content_left">
<h1>Login in your Google Analytics</h1>
<% form_tag do -%>
<p><%= label_tag 'login' %><br />
<%= text_field_tag 'login', params[:email]%></p>
<p><%= label_tag 'password' %><br/>
<%= password_field_tag 'password', nil %></p>
<p><%= submit_tag 'Log in' %></p>
<% end -%>
</div>

<div id="content_right">
</div>



