<div id="content_left">
	<h1>Your sites</h1>
	<% current_user.sites.each do |si| %>
		<p><b><%= si.name %></b><br/> 
		<%= link_to "Monthly emissions", :controller => "sites", :action => "show", :id => si.id %> | 
		<%= link_to "Year emissions", :controller => "sites", :action => "show_year", :id => si.id %></p>
	<% end %>
</div>
<div id="content_right_centered">
	<h2>Your sites have emitted a total of</h2>
	<h2><co2><%= @total/1000 %></co2> Kg CO2.<h2>
	<h2>The equivalent to <co2><%= @caramount %></co2> km traveling by car.<h2>
	<h2>of which <co2><%= @month %></co2> grams CO2 were emitted this month.</h2>
</div>