<div id="content_left">
	<h1>Your sites</h1>
	<% current_user.sites.each do |si| %>
		<p><b><%= si.name %></b><br/> 
		<%= link_to "Monthly emissions", :controller => "sites", :action => "show", :id => si.id %> | 
		<%= link_to "Year emissions", :controller => "sites", :action => "show_year", :id => si.id %></p>
	<% end %>
</div>
<div id="column_three">
	<p>Your sites have emitted a total of</p>
	<h2><co2><%= @total %></co2> grams CO2.<h2>
	<h2><co2><%= @month %></co2> grams CO2 this month.</h2>
</div>