<div id="content_left">
	<% current_user.sites.each do |si| %>
		
		<h1 class="name"><%= link_to si.name, :controller => "sites", :action => "show_year", :id => si.id %></h1>
	<% end %>
</div>
<div id="content_right_sites">
	<p><b><%= current_user.name %></b></p>
	<p><%= current_user.email %></p>
	<p>
	<% if current_user.gtoken != nil then %>
		Your Google Analytics account is connected. You have <%= current_user.sites.count %> sites in Greenalytics.
	 <%else%>
		<p>To start using greenalytics you need a Google Analytics account:</p>
		<p><a href="http://greenalytics.heroku.com/session/new">Connect your Google Analytics to Greenalyics</a></p>
	<%end%>
	<p><%= link_to "Admin your sites", :controller => "sites", :action => "select" %></p>
	<br/><br/>
	<h2>Your sites have emitted a total of</h2>
	<h2><%= formatco2(@total) %><h2>
	<h2>The equivalent to <co2small><%= @caramount %></co2small> km traveling by car.<h2>
	<h2>of which <%= formatco2(@month) %> were emitted this month.</h2>
	
	
	
</div>