<div id="column_left">
<h1><%= @profile.name %></h1>
<h2>Total pageviews: </h2>
<p><%= @profile.pageviews %></p>
<h2>Pages</h2>
<% total = 0 %>
<% @results.points.each do |point|%>
	<% url = point.to_s.split("pagePath=>")[1]%>
	<% url = url.to_s.split("}")[0]%>
	<% url = url.to_s.split('"')[1]%>
	<% url = url.to_s.split('"')[0]%>
	<% visits = point.to_s.split("pageviews=>")[1]%>
	<% visits = visits.to_s.split("}")[0]%>
	<p><%= url %> with <%= visits %> visitors</p>
	<% pagesize = pageSize(@main_url+url)/1024 %>
	<p><%= pagesize %> Kb</p>
	<% total += pagesize*visits.to_i %>
<% end %>

<h2>Total </h2>
<h3><%= total %> Kb.</h3>
<h3><%= (total*0.001*0.5017400).round(2) %> kg CO2</h3>
</div>